DB_NAME='dungeon-planner'
DB_HOST='dungeon-planner-db' # localhost if running locally; db container name if not
DB_PORT='5432'
DB_USER='postgres'
DB_PASSWORD='example'
DJANGO_SETTINGS_MODULE='ttrpgPlanner/settings.py'